node_modules/
dist/
*.env*
.vercel
.env
marxdb.json
mongo/.atkey
mongo/.gkey
mongo/.gkey_auto
**/.gkey
**/.gkey_auto
gdrive/credentials.json
gdrive/token.json
**/credentials.json
**/token.json
*.csv
*.pkl
